{% ckan_extends %}
{% set pkg = h.dara_pkg() %}
{% set pid = pkg['dara_Publication_PID'] %}
{% set submission_id = pkg['dara_jda_submission_id'] %}
{% set pid_type = pkg['dara_Publication_PIDType'] %}
{% set DOI = pkg['dara_DOI'] %}
{% set DOI_Test = pkg['dara_DOI_Test'] %}
{% set dara_authors = h.dara_authors('dataset', data) %}
{% set is_admin = h.check_journal_role(pkg, 'admin') or h.check_access('sysadmin') %}
{% set use_testserver = h.dara_use_testserver() %}
{% resource 'dara/dara.css' %}
{% resource 'edawax/edawax.js' %}
{% resource 'dara/dara.js' %}

{% set pkg_url = h.full_current_url() %}
{% if DOI %}
    {% set pkg_url = "http://dx.doi.org/" ~ DOI  %}
{% endif %}

{% macro author_in_title(author) -%}
    {% if author == dara_authors[-1] %}
         {{ (author['firstname'], author['lastname']) | join(' ')}}
    {% else %}
        {{ author['firstname'] ~ ' ' ~ author['lastname']  }};
    {% endif %}
{%- endmacro %}


{% block primary_content_inner %}
  <div prefix="schema: http://schema.org/" typeof="schema:Dataset" resource="{{ pkg_url }}">
      <meta property="schema:includedInDataCatalog" resource="{{ h.ckan_site_url() }}"
          typeof="schema:DataCatalog" />

  {% block package_description %}
    {% snippet 'package/snippets/authors.html', dara_authors=dara_authors, pkg=pkg %}
    {% if h.in_review(pkg) in ['true', 'editor', 'reviewers'] %}
      {% if h.is_reviewer(pkg) %}
          <span class="dataset-private label pull-right label-reviewer">
            <i class="icon-eye-open"></i>
            {{ 'My Review' }}
          </span>
      {% else %}
            {% if pkg['dara_edawax_review'] != 'editor' %}
              <span class="dataset-private label pull-right label-reviewer">
                <i class="icon-lock"></i>
              {{ 'Review' }}
            {% elif h.is_reviewer(pkg) or h.is_author(pkg) %}
              <span class="dataset-private label pull-right label-reviewer">
                <i class="icon-lock"></i>
              {{ 'In Review' }}
            {% else %}
            <span class="dataset-private label pull-right label-reviewer">
              <i class="icon-lock"></i>
              {% if h.has_reviewers(pkg) %}
                {{ 'Not Sent to Reviewer' }}
              {% else %}
                {{ 'No Reviewer' }}
              {% endif %}
            {% endif %}
          </span>
      {% endif %}
    {% endif %}

    {% if h.in_review(pkg) == 'reauthor' %}
        <span class="dataset-private label pull-right label-reauthor"
            title="Dataset has been resend to author">
          <i class="icon-lock"></i>
          {{ 'Re-Author' }}
        </span>
    {% endif %}
    {#{ super() }#}
  {% endblock %}

  <h1>
    {% block page_heading %}
      {{ pkg.title|lower or pkg.name|lower }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
      {% if pkg.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
    {% endblock %}
  </h1>

  {% block package_notes %}
    {{ super() }}
  {% endblock %}

  {% block package_resources %}
    {{ super() }}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% snippet "package/snippets/citation.html", pkg_dict=pkg, data=data %}

  {% if pid %}
    {% snippet "package/snippets/related_publication.html", pkg_dict=pkg,
    pid=pid, pid_type=pid_type %}
  {% endif %}


  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_additional_info %}
  {% endblock %}

  </div>
{% endblock %}
