{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h2>{{ _("welcome to the journal data archive") }}</h2>
      <p>
        {% trans %}


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit lectus sed est egestas auctor. Vivamus vel tortor vitae justo feugiat rutrum vitae ac urna. Morbi ullamcorper nulla sit amet gravida condimentum. Nullam venenatis, ex eu volutpat congue, enim dolor aliquet tellus, vitae vulputate diam dui eu sapien. Nam quis risus dolor. Pellentesque sit amet ultrices purus. Quisque ac diam sit amet ipsum varius iaculis quis at libero. Praesent eu tellus turpis. Vestibulum a nulla ut mi vestibulum ullamcorper sit amet vel dui. Sed varius turpis eros, ac ullamcorper tellus lacinia ac. Donec vel nisl blandit, tristique nulla vel, varius leo. Praesent ut odio eget massa pulvinar sodales et pulvinar nibh.

Cras ut dapibus ipsum. Morbi et ipsum eu felis aliquam iaculis. In id vehicula arcu. Cras at tempus orci, eu aliquet sapien. Curabitur eget cursus odio. In rhoncus faucibus dolor, quis fermentum mi volutpat a. Nunc pharetra urna vitae nisi rutrum vulputate. Nunc a metus magna. Praesent feugiat vitae erat et condimentum. Sed rhoncus mauris odio, eget ultricies turpis pharetra quis. Nulla mollis nibh eu erat rutrum auctor. Quisque euismod mi elementum velit pellentesque dapibus. In non rutrum enim. Duis facilisis dolor quis lorem efficitur, eget congue erat gravida. Proin pulvinar mauris et orci varius interdum. Morbi faucibus lacus risus, sed rutrum nisl varius quis.

Quisque a ex ac augue finibus pharetra condimentum vitae metus. Maecenas augue nisl, aliquam vel pharetra quis, elementum porttitor odio. Fusce volutpat nunc eu libero vestibulum, ac dapibus leo imperdiet. Praesent mauris lectus, laoreet at interdum mattis, rhoncus ac eros. Morbi imperdiet sapien sed neque molestie mattis. Ut id ligula eget elit congue placerat. Suspendisse ornare suscipit est et varius. Curabitur eu enim metus. Sed vehicula sollicitudin dolor id ornare.

Sed accumsan, nulla a rutrum convallis, ex diam mattis velit, quis tristique odio magna in metus. Duis tincidunt turpis velit, a luctus erat feugiat commodo. Suspendisse lacinia mi vel tortor facilisis maximus in eu quam. Aliquam nec massa sed lectus pellentesque tincidunt. Ut fringilla porttitor ornare. Duis sit amet vehicula nunc, id euismod ex. Fusce mollis diam mi, id cursus risus consequat quis. Nullam faucibus mi sit amet fermentum facilisis. Praesent in ligula imperdiet, vestibulum ligula vel, porta massa. Sed vel ullamcorper lectus. Vestibulum sapien nunc, tempus in tellus in, interdum varius arcu.

Nulla dolor leo, mollis eu leo quis, lobortis sodales felis. Aliquam nec venenatis magna. Praesent ac purus malesuada, finibus lectus non, mattis sem. Proin a mauris dignissim, lobortis purus et, bibendum risus. Maecenas pharetra consequat justo, non ullamcorper quam ultrices in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse diam neque, ultricies sed odio vel, aliquet fermentum magna. Suspendisse a tempus dolor, in eleifend erat. Curabitur euismod venenatis nisi in egestas. Aliquam sapien nunc, iaculis eget vehicula et, rutrum a turpis.
        {% endtrans %}
      </p>
    {% endif %}
  </header>
  <section class="featured media-overlay">
      {#<h2 class="media-heading">{{ _("This is a featured section") }}</h2>#}
    <a class="media-image" href="#">

      <img src="{% url_for_static '/base/images/open_data300.jpg' %}" width="420" height="220" />
    </a>
  </section>
</div>
